* {
    box-sizing: border-box;
}
#wrapper{
    margin: auto;
    width: 1000px;
    background-color: rgb(251,235,235);
    padding: 20px;
    height: 718px;
}
body{
    font-family: "Arial", "Sans Serif";
    line-height: 24px;
}
form h1{
    padding-left: 20px;
}
.Form01{
    width: 100%;
}
section.Form01 {
    padding-top: 10px;
    padding-left: 10px;
    width: 40%;
    float: left;
    height: 200px;
    line-height: 25px;
}
section.Form01 input{
    float: right;
    margin-right: 50px;
}
section.Form01 select{
    float: right;
    margin-right: 152px;
}
section.Form01 textarea{
    float: right;
    margin-right: 50px;
    width: 161px;
    height: 80px;
}
section.Form01 input#date{
    width: 161px;
}
section.Form01 input#Geslacht{
    float: none;
    margin-left: 92px;
    margin-right: 0;
}
section.Form01 input#Vrouw{
    float: none;
    margin-left: 10px;
    margin-right: 0;
}
section.Form02{
    padding-top: 10px;
    width: 70%;
    height: 200px;
}
section.Form02 input{
    margin-left: 90px;
}
section.button{
    width: 70%;
    padding-left: 400px;
}
section.button input{
    width: 100px;
    height: 30px;
}