body{
    width: 100%;
    display: inline-block;
}
form h1{
    padding-left: 20px;
}
.Form01{
    width: 100%;
}
section.Form01 {
    padding-top: 10px;
    padding-left: 10px;
    width: 23%;
    float: left;
    height: 200px;
    line-height: 25px;
}
section.Form01 input{
    float: right;
    margin-right: 50px;
}
section.Form01 select{
    float: right;
    margin-right: 163px;
}
section.Form01 textarea{
    float: right;
    margin-right: 59px;
}
section.Form02{
    padding-top: 10px;
    width: 40%;
    height: 200px;
}
section.Form02 input{
    margin-left: 90px;
}
section.button{
    width: 40%;
    padding-left: 500px;
}
section.button input{
    width: 100px;
    height: 30px;
}